*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    height: 100vh;
}

.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #808080b5;
    z-index: 40;
}
.off-card{
    position: fixed;
    z-index: 70;
    width: max-content;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 3rem;
    text-align: -webkit-center;
    text-align: center;
    margin-top: 20vh;
    margin-left: 50vw;
    translate: -50%;

}
.off-card svg{
        height: 100px;
        width: 100px;
        background-color:  #FFD6D6;        ;
        border: solid transparent;
        border-radius: 50%;
}
.off-card button{
    padding: 0.3rem 1rem;
    border: solid 1px  transparent; 
    border-radius: 10px ;
    margin: 1rem;
}
.sidebar{
    padding: 1rem;
    max-width: 250px;
    background-color: white;
    height: 100vh;
    position: relative;
}
.sidelogo{
    width:117px
} 
.sidebar h1{font-weight: 800;
    font-size: 16.7516px;
    line-height: 20px;
}
ul{ 
    /* margin-top: 1.5rem; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 250px;

}
.sidebar li{
    height: 3rem;
    padding: 15px 0px 0px;
}
.active-style{
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-left:solid #4A91FF;
    /* text-fill-color: transparent; */

}
.active-style path{
    fill: #4A91FF;
}
.sidebar-item{
    text-decoration: none;
    text-decoration-color:black ;
    padding: 0 0.3rem;
}
a{
    text-decoration: none;
}
.Icon svg{
    
    width: 1rem;
    margin-bottom: -0.25rem;
    margin-right: 0.4rem;
}
.ham{
    margin: 0.8rem;
}
.sunSvg svg{
    width: 16rem !important;

}

.weather-card{
width: 300px;
aspect-ratio: 1 / 1  ;
background: rgba(255, 255, 255, 0.3);
border-radius: 20px;
font-family: Overpass;
color: #FFFFFF;
text-align: center;
padding: 2rem;

}
.weather-card *{
    text-shadow: -4px 8px 25px rgba(0, 0, 0, 0.4);
}
.upgrad-but{
    width: 80% ;
    margin: 0 auto;
    font-size: large;
    border-radius: 10px;
    border: transparent;
    line-height: 3rem;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    color: white;
}















.table{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8rem !important;
    width: 100%;
    padding:0 0.2rem;
    column-gap: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.table-com{
    display:"flex";
    flex-direction:"row";
    justify-content:"space-between";
    margin:"0 1rem";
    height: 4rem;
    border: solid 1px white;
    border: solid 1px rgb(255 255 255 / 8%);
}
.table-com svg{
    width:4rem;
    height: 3rem;
}



@media (max-width:700px){
    .sidebar-sm{
    position:absolute ;
    left:-100%;
}
.table{
    display: block  ;
}
}
.ser{
   position:absolute;
   border: solid white;
   border-radius: 10px;
   max-width:200px;
   margin:1rem;
   background-color: #FFFFFF;
   right: 1rem;
}
.ser input{
    width: 60%;
    outline: none;
    border:  rgba(255, 255, 255, 0.87);
    height: 2rem;
    font-size: inherit;
}
.ser li{
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
    line-height: 3rem;
}
.ser *{
    font-family: 'Overpass'
}
.ser li span{
    margin: auto 1rem;
}
.in-box{
    display: flex;
    border-radius: 5px;
    border: solid rgba(128, 128, 128, 0.212);
    align-items: center;
}
.hide{
    display: none;
}